@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: black;
}

h1{
    font-size: 10vh;
    font-family: 'Bebas Neue', cursive;
}

h2{
    font-size: 8vh;
    font-family: 'Bebas Neue', cursive;
}

.playerNames{
    height: 10vh;
    width: 50vh;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 5vh;
    border-radius: 2vh;
    border-style: none;
}

.startup{
    padding-top: 15vh;
    padding-bottom: 15vh;
    margin-right: 30vh;
    margin-left: 30vh;
    margin-top: 10vh;
    border-radius: 5vh;
    border-style: none;
    background-color: orange;
    text-align: center;
}

.start{
    height: 15vh;
    width: 60vh;
    background-color: black;
    color: orange;
    font-family: 'Bebas Neue', cursive;
    border-radius: 2vh;
    font-size: 5vh;
    border-style: none;
}

.playerNamesDiv{
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 5vh;
    text-align: center;
    background-color: orange;
    margin-left: 30vh;
    margin-right: 30vh;
    border-radius: 5vh;
    border-style: none;
}

.savePlyNames{
    height: 10vh;
    width: 60vh;
    border-radius: 2vh;
    border-style: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 5vh;
    background-color: black;
    color: orange;
}

.gameDiv{
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 5vh;
    margin-right: 30vh;
    margin-left: 30vh;
    background-color: orange;
    border-radius: 10vh;
    border-style: none;
    text-align: center;
}

.gameTable{
    margin: 0 auto;
    margin-top: -10vh;
}

.gameCells{
    height: 15vh;
    width: 15vh;
    background-color: black;
    color: orange;
    border-radius: 2vh;
    border-style: none;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 5vh;
}

.clearBtn{
    height: 10vh;
    margin-top: 4vh;
    width: 50vh;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 5vh;
    border-radius: 2vh;
    border-style: none;
}
